.left
{
    text-align: left;
    color: green;
}
.p
{
    text-align: left;
    color: white;
    font-size: large;
}
.bgclr
{
    background-color:black;
}
.list
{
    text-align: left;
    color: white;
    font-size: large;
}
.hob
{
    text-align: left;
    color: white;
    font-size: large;
}
